---
Language: Cpp
BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
IndentRequires: false
#PackArguments.BinPackArgumentsStyle: OnePerLine
PackConstructorInitializers: NextLine
#PackParameters.BinPackParametersStyle: OnePerLine
PointerAlignment: Left
SortIncludes: Never
...
